# 国内网络下加速 Electron 二进制与 electron-builder 下载（海外网络也可访问）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
